.end__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    margin: 0px auto;
}

@media (max-width: 767px) {
    .end__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}