.gallery {
    padding: 0px 0px 92px 0px;
}

@media (max-width: 1279px) {
    .gallery {
        margin: 0px auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .gallery {
        padding: 0px 0px 88px 0px;
    }
}

@media (max-width: 767px) {
    .gallery {
        padding: 0px 16px 64px 16px;
    }
}