.places {
   padding: 0px 100px 92px 100px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
   .places {
      padding-left: 0px;
      padding-right: 0px;
   }
}

@media (min-width: 768px) and (max-width: 1023px) {
   .places {
      padding-left: 24px;
      padding-right: 24px;
   }
}