.start__illustration {
    width: 984px;
    height: 615px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .start__illustration {
        width: calc(100% + 96px);
        margin: 0px -48px;
        height: 580px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .start__illustration {
        width: calc(100% + 48px);
        height: 480px;
        margin: 0px -24px;
    }
}

@media (max-width: 767px) {
    .start__illustration {
        width: calc(100% + 32px);
        height: 200px;
        margin: 0px -16px;
    }
 }
