.places__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {
    .places__title {
        font-size: 32px;
        line-height: 35px; 
        margin-bottom: 32px;
        padding: 0px 16px;
    }
}