.start {
   padding: 56px 0px 92px 0px;
   margin: 0px auto;
   width: 984px;
   box-sizing: border-box;
}

@media (max-width: 1279px) {
   .start {
       width: 100%;
   }
}

@media (min-width: 1024px) and (max-width: 1279px) {
   .start {
      padding: 48px 48px 92px 48px;
   }
}

@media (min-width: 768px) and (max-width: 1023px) {
   .start {
      padding: 48px 24px 88px 24px;
   }
}

@media (max-width: 767px) {
   .start {
      padding: 48px 0px 64px 0px;
   }
}