.places__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .places__text {
        font-size: 16px;
        line-height: 26px;
    }
}