.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 48px 0px 48px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 16px 16px 0px 16px;
    }
 }