.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 28px 0px 0px 0px;
    max-width: 1184px;
    box-sizing: border-box;
    margin: 0px auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 16px 16px 0px 16px;
    }
 }