.content {
    width: 1184px;
    margin: 0px auto;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .content {
        width: 928px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .content {
        width: 768px;
    }
}