.intro__paragraph {
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro__paragraph {
        max-width: unset;
    }  

@media (max-width: 767px) {
    .intro__paragraph {
        max-width: unset;
    }
}

