.start__caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px 0px 0px 0px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .start__caption {
       padding: 0px 24px;
    }
 }

@media (max-width: 767px) {
    .start__caption {
       padding: 0px 16px;
    }
 }