.intro__about {
    max-width: 690px;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

@media (max-width: 1279px) {
    .intro__about {
        max-width: unset;
    }
}