.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 92px 0px 24px 0px;
    max-width: 1184px;
    box-sizing: border-box;
    margin: 0px auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 64px 16px 24px 16px;
        display: block;
    }
}